@import $package$.$CamelCase$
@(title: String, $camelCase$s: List[$CamelCase$])
@views.html.layouts.application(title) {
  <table><tr><td><h1>@title</h1></td><td><a href="@$CamelCase$.addUrl">Add new</a></td><td><a href="@$CamelCase$.indexUrl">All $CamelCase$s</a></td></tr></table>
  <table>
    <tr>
      <th>ID</th>
      @ATTENTION
      <!-- $model_fields$ -->
      <th>Created</th>
      <th>Last Updated</th>
    </tr>
  @$camelCase$s.map{ $camelCase$ =>
    <tr>
      <td><a href="@$camelCase$.showUrl">@$camelCase$.id</a></td>
      @ATTENTION
      <!-- $model_fields$ -->
      <td>@$camelCase$.createdAt</td>
      <td>@$camelCase$.updatedAt</td>
      <td><a href="@$camelCase$.editUrl">Edit</a></td>
      <td><a href="@$camelCase$.destroyUrl">Delete</a></td>
    </tr>
  }
  </table>
}
